<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Collectoon{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
	</head>
	
	<body>
		<header class="demo-header">
			<a href="/"><img class="logo" src="{{ asset('images/logo.png') }}"></a>
			<nav class="nav">
				<ul class="nav-list">
					<li><a href="/collection">Ma Collection</a></li>
					<li><a href="#">Divers</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Se Connecter</a></li>
				</ul>
			</nav>
		</header>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</body>
</html>
