{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="center">
		  <div class="dropdown">
		    <div class="select">
		      <span>Selectionner la série</span>
		      <i class="fa fa-chevron-left"></i>
		    </div>
		    <input type="hidden">
		    <ul class="dropdown-menu">
		      <li>Guignols de l'info</li>
		      <li>Fort Boyard</li>
		    </ul>
		  </div>
		</div>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Commentaires</th>
				</tr>
			</thead>
			<tbody>
    		<tr>
		      <th scope="row">1</th>
		      <td>5 Mai 1989</td>
		      <td>Très mauvaise qualité - JLH+</td>
    		</tr>
    		<tr>
		      <th scope="row">2</th>
		      <td>4 Octobre 1990</td>
		      <td></td>
    		</tr>
    		<tr>
		      <th scope="row">3</th>
		      <td>25 Décembre 1990</td>
		      <td>Image assombrie - VHS TPZ</td>
    		</tr>
    	</tbody>
		</table>
	</div>
{% endblock %}