{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container">
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="js/base.js"></script>
{% endblock %}