body { 
	background: #5A5B5C;
}

h1, h2, h3, h4, h5, h6 {
  color: #cecece;
}

/* Menu Responsive */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-header:after, .nav:after {
  content: '';
  display: table;
  clear: both;
}

.demo-header {
  background-color: #2D2E2E;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  float: left;
  width: 120px;
  margin-top: 10px;
}

.nav {
  float: right;
  width: calc(100% - 120px);
  white-space: nowrap;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  float: right;
}

.nav-list > li {
  display: inline-block;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  display: block;
  padding: 25px 20px;
  color: #cecece;
  font-size: 16px;
  text-decoration: none;
}

.nav-list .sub-menu {
  position: absolute;
  background-color: #222;
  width: 200px;
  right: 0;
  top: 100%;
  display: none;
}

.nav-list .sub-menu a {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list .sub-menu .sub-menu {
  top: 0;
  right: 100%;
}

.nav-list li:hover > .sub-menu {
  display: block;
}

/* Dropdown */

.dropdown {
  width: 300px;
  display: inherit;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropdown:active {
  background-color: #f8f8f8;
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 5px 5px 0 0;
  background-color: #f8f8f8;
}

.dropdown.active .select > i {
  transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
} 

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}